<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}

</head>
<body>
        {{>navbar}}
        <!-- main header -->


        <div class="container-fluid main_header">
                  <div class="row">
                      <div class="col-md-10 col-12 mx-auto">
                                  <!-- main_header_left -->
                                  
                              <div class="row">
                                  <div class="col-md-12 col-12 main_header_left align-items-center"> 
                                      <figure class="errimg">
                                          <img src="images/404.jpg" class="img-fluid" title="Prerna">
                                      </figure>
                                     
                                      
                                          <p>Welcome to weather app</p>
                                          <h1>{{errormsg}}</h1>
                                          <a href="/"><button>Go Back</button></a>
                                      </div>
                                  
                                  
                                                  <!-- main_header_right -->
                                                  <!-- <div class="row"> -->
                            </div>
                      </div>
                  </div>
        </div>
       
        <!-- footer -->
        
             {{>footer}}

     
</body>
</html>