<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}

</head>
<body>
        {{>navbar}}
        <!-- main header -->


        <div class="container-fluid main_header">
                  <div class="row">
                      <div class="col-md-10 col-12 mx-auto">
                                  <!-- main_header_left -->
                                  
                              <div class="row">
                                  <div class="col-md-6 col-12 main_header_right"> 
                                      <figure>
                                          <img src="images/woman - Copy.jpg" class="img-fluid" title="Prerna">
                                      </figure>
                                  </div>
                                      <div class="col-md-6 col-12 main_header_left">
                                          <p>Welcome to weather app</p>
                                          <h1>I am a <span class="text_clrA">MERN Stack Developer</span></h1>
                                          <a href="https://github.com/Prerna-Singh-23"><button>GITHUB</button></a>
                                      </div>
                                  
                                  
                                                  <!-- main_header_right -->
                                                  <!-- <div class="row"> -->
                            </div>
                      </div>
                  </div>
        </div>
       
        <!-- footer -->
      {{>footer}}

</body>
</html>